<nav class="navbar justify-content-end">
  <ul>
    <li class="navbar-nav">
      <%= link_to "Home", root_path %>
    </li>
    <li class="navbar-nav">
      <%= link_to "Listings", listings_path %>
    </li class="navbar-nav">
    <% if user_signed_in? %>
      <li class="navbar-nav">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="navbar-nav">
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>