
<div class="jumbotron">
  <h1 class="display-4">Hi There!!</h1>
  <p class="lead">Welcome to Shoes4All, This is the place to for hypebeast or collector who are looking to buy or sell shoes.</p>
  <hr class="my-4">
  <p>You are free our listing collections, please do sign up to make a purchase.</p>
  <p class="lead">
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'%>
  </p>
</div>


<div class="container">
  <div class="card pages-image">
    <h3>Hello</h3>
  </div>
</div>